*{
    margin: 0;
    padding: 0;
    font-family: 'Netflix Sans','Helvetica Neue','Segoe UI','Roboto','Ubuntu','sans-serif';
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
}

.header{
    width: 100%;
    max-height: auto;
    height: 99vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(images//header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 10px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font: inherit;
}

.btn-lang{
    display: inline-flex;
    align-items: center;
    background: #0b0b0b84;;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.btn-lang img{
    width: 10px;
    margin-left: 10px;
}

.header-content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header-content h1{
    font-size: 3rem;
    font-weight: 900;
    margin: 10px 0;
}

.header-content h3{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 15px 0;
    letter-spacing: 1px;
}

.header-content p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 15px 0;
}

.email-signup{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 30% 0;
    overflow: hidden;
}


.email-signup input{
    border: 1px solid #fff;
    background: #0e0e0ea4;
    flex: 1;
    border-radius: 4px;
    padding: 16px 30px 16px 15px;
    outline: 0;
    margin-right: 20px;
    font-size: 1.2rem;
    color: #ffffff;
}

.email-signup button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
}

hr{
    height: 1vh;
    background: #1c1c1c;
    border: 0;
    outline: 0;
}

/* -------------features------------------ */
.features{
    padding: 50px 12%;
    font-size: 1.5rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.text-col, .img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.text-col h1{
    margin: 10px 0;
    font-weight: bold;
}

.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}

/* css part for features section ends */

/* css parts for faqs starts from here */
.faqs{
    padding: 15px 15%;
    text-align: center;
}

.faqs h1{
    font-size: 3rem;
    font-weight: bolder;
}

.accordions{
    margin: 60px auto;
    width: 100%;
    max-width: 70vw;
}

.accordions li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordions li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    background: #303030;
    cursor: pointer;
    margin-bottom: 2px;
    position: relative;
}

label::after{
    content: '+';
    font-size: 2rem;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"]{
    display: none;
}

.accordions .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

.accordions input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 5vh 2vw;
    font-size: 1.6rem;
}

.accordions input[type="radio"]:checked + label::after{
    transform: rotate(45deg);
}

.faqs .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;    
}

.faqs span{
    font-size: 1.3rem;
}

/* footer */

.footer{
    padding: 50px 10% 10px;
    color: rgb(255 255 255 / 70%);
    margin-bottom: 30px;
}

.footer h2{
    font-size: 18px;
    font-weight: 400;
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
}

.footer .col a{
    display: block;
    line-height: 2rem;
    text-decoration: underline;
    color: rgb(255 255 255 / 70%);
    font-size: 1rem;
    margin: 10px 0;
}

.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}

.footer .btn-lang{
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600;
    background: #0b0b0b;
    font-size: 1rem;
    letter-spacing: 1px;
}

.footer .copyright{
    margin: 30px 0;
}

/* media queries for small screen */
@media only screen and (max-width: 600px) {
    .header{
        padding: 0;
    }
    .logo{
        width: 100px;
    }
    nav button{
        padding: 5px 8px;
    }
    nav .btn-lang{
        padding: 4px 8px;
    }
    .header-content{
        position: unset;
        transform: none;
        padding-top: 50px;
    }
    .header-content h1{
        font-size: 30px;
    }
    /* to do */
    .email-signup {
        flex-basis: auto;
    }
    .email-signup input{
        padding: 8px 0 8px 5px;
        padding-right: 0;
        min-width: 100%;
        margin: 10px 0;
    }
    .email-signup button{
        min-width: 100%;
        font-size: 15px;
        padding: 10px;
    }
    .text-col, .img-col{
        flex-basis: 100%;
    }
    .features h1{
        font-size: 35px;
    }
    .features p{
        font-size: 15px;
    }
    .features .row{
        padding: 10px 0;
    }

    .faqs h1{
        font-size: 20px;
    }

    .accordions input[type="radio"]:checked + label + .content{
        max-height: 600px;
        padding: 20px 10px;
        font-size: 12px;
        text-align: justify;
    }

    .accordions li label{
        padding: 10px;
        font-size: 14px;
    }

    label::after{
        font-size: 22px;
    }

    .footer .col{
        flex-basis: 50%;
        flex-grow: 1;
    }

    .faqs .email-signup input{
        margin: 30px auto 10px;
        padding: 15px 10px;
        font-size: 1.3rem;    
    }

    .faqs .email-signup .btn-lang{
        padding: 15px 10px;
    }
}